.contenidoSeccion>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#cabecera{
  background-color: #3d5a80;
  display: flex;
  justify-content: space-between;
  height: 5em;
  padding: 1em;
}

ion-header, ion-footer {
  background: white;
}


ion-header>h1 {
  color: #3d5a80;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#acciones{
  display: flex;
  justify-content: space-between;
  margin: 0.9em 1.5em 0em 0em;
}

#accionesUsuRest{
  display: flex;
  justify-content: flex-end;
  margin: 0.9em 1.5em 0em 0em;
}

  #acciones>a>img{
    background-color: #3d5a80;
    border-radius: 4em;
    margin: 0em 0em 0em 0.6em;
    padding: 0.5em 1.2em 0.5em 1.2em;
    width: 4.1em;
    box-shadow: 0em 0.2em 0.2em 0em #8f949b;
  }

  #acciones>div>button, #accionesUsuRest>div>button{
    background: none;
  }

  #acciones>div>button>img, #accionesUsuRest>div>button>img{
    background-color: #3d5a80;
    border-radius: 4em;
    overflow-clip-margin: border-box;
    margin: 0.3em 0em 0em 0.6em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    width: 2.8em;
    box-shadow: 0em 0.2em 0.2em 0em #8f949b;
  }


.centrarSecciones{
  margin-top: 3em;
}


.centrarSeccion{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #3d5a80;
  font-weight: bold;
  width: 8.5em;
}

.centrarSeccion>p{
  margin-top: 0em;
}

.botonesAccion{
  position: absolute;
  z-index: 99;
  border-radius: 4em;

}
  #iconoEditar{
    position: absolute;
    left: 5.5em;
  }

  #iconoEliminar{
    position: relative;
    left: 7em;
  }

  .botonesAccion>img, .botonesAccion>button>img{
    background-color: white;
    width: 1.5em;
    border-radius: 4em;
    overflow-clip-margin: border-box;
    padding: 0.2em;
    border: solid #3d5a80;
    box-shadow: 0em 0.3em 0.3em 0em #292929;
  }

.secciones{
  --background: #3d5a80;
  border-radius: 1.5em;
  box-shadow: 0em 0.3em 0.3em 0em #8f949b;
}


.iconoSeccion{
  color: #fff;
}

#botonPlano{
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

#botonPlano>img{
  background-color: #3d5a80;
  width: 5em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 1.5em;
  box-shadow: 0em 0.3em 0.3em 0em #8f949b;
}



/*MODALES*/

ion-modal ion-toolbar, ion-modal ion-content{
  --background: #3d5a80;
}


ion-modal::part(backdrop) {
  background: var(--ion-backdrop-color, #000);
  opacity: 1;
}

#modalAgregar, #modalEditar{
  --height: 70%;
  --width: 90%;
  --border-radius: 0.3em;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.inputs>ion-item{
  margin-bottom: 1em;
  --border-radius: 0.3em;
  color: #3d5a80;
  font-weight: bold;
}

#tipo{
  font-weight: bold;
  color: white;
  font-size: large;
}

#seleccionIconos{
  display: flex;
}

#seleccionIconos ion-item{
  --background: none;
  color: white;
}

#modalBuscar{
  --height: 35%;
  --width: 90%;
  --border-radius: 0.3em;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.botonNOTOKModal{
  color: white;
  font-weight: bold;
  border-radius: 4em;
  border-width: 2em;
  box-shadow: 0em 0.3em 0.3em 0em #292929;
  width: 50%;
}

.botonOKModal{
  background-color: white;
  color: #3d5a80;
  font-weight: bold;
  border-radius: 4em;
  box-shadow: 0em 0.3em 0.3em 0em #292929;
  width: 50%;
}

.botonesForm{
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}

.label{
  color:white;
  font-weight: bold;
  font-size: 1.5em;
}

